---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro'
import HomePage from '../components/HomePage.astro'
import About from '../components/About.astro'
import Vision from '../components/Vision.astro'
import Gallery from '../components/Gallery.astro'
import Squad from '../components/Squad.astro'
---

<Layout title="Supervision escolar V064">
	<NavBar />
	<main>
		<HomePage />
		<About />	
		<Vision />
		<Gallery />
		<Squad/>
	</main>
</Layout>
 
