---
import Analytics from './Analytics.astro'
import Section from './Section.astro'
---


<Section>

    <article>
        <picture>
            <img src="/img/imagelibro.webp" alt="Imagen de libro" >
        </picture>

    </article>

    <article class="max-w-z"> 
        <h2 class="text-2xl font-bold text-center">Zona escolar V064</h2>
        <hr class="bg-black">
        <p class="text-base">Nuestra misión es asegurar la calidad del servicio educativo
            proporcionado por las escuelas en la Zona V064. 
           Buscamos garantizar que todos los alumnos alcancen 
           su máximo potencial de aprendizaje en un ambiente de equidad e inclusión.
            Nuestro objetivo principal es fomentar el desarrollo integral de las niñas,
            niños y adolescentes, siempre priorizando su interés superior.
        </p>
        <Analytics/>
    </article>
</Section>