---

---

<div class="flex justify-center">
    <span class="text-4xl font-bold"> 13 Profesores + </span>
    <span class="text-4xl font-bold"> 9 Escuelas + </span>
    <span class="text-4xl font-bold"> 150 Alumnos + </span>
</div>