<header class="bg-green h-20 text-white flex items-center font-semibold justify-between p-10">
    <a href="/" class="cursor-pointer">
        <img src="/img/logo-ts.webp" alt="Logo telesecundaria" class="w-20 h-16">
    </a>
    <nav class="flex gap-x-3 " >
        <a href="#">Inicio</a>
        <a href="#">Sobre Nosotros</a>
        <a href="#">Galeria</a>
    </nav>
</header>