---
import Section from './Section.astro'

---

<Section>
    <article>
        <h2 class="text-3xl font-bold text-center"> Nuestra vision</h2>`
        <hr>
        <p class="text-base">Nuestra visión es que la Zona Escolar V064 se convierta en un referente en la asesoría y acompañamiento en los procesos de enseñanza-aprendizaje. Nos  enfocamos especialmente en la práctica docente y directiva, 
            la evaluación formativa y la adaptación de proyectos al contexto de
             cada escuela. Esto se hace con el fin de lograr una mejora constante 
            en el desempeño de toda la comunidad escolar, en beneficio de nuestros alumnos.</p>
    </article>
    <article>
        <picture>
            <img src="/img/image2.webp" alt="">
        </picture>
    </article>

</Section>